@import 'react-toastify/dist/ReactToastify.css';
@import '@radix-ui/themes/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 14px;
  }
  * {
    @apply break-keep whitespace-pre-line;
  }
}

.radix-themes {
  --default-font-family: inherit;
  --font-family-untitled: inherit;
}

.rt-TextFieldRoot,
.rt-TextAreaRoot {
  @apply outline-1;
}

.rt-TextFieldInput,
.rt-TextAreaInput {
  @supports (-moz-appearance: none) {
    &:focus {
      outline: none;
    }
  }
}

:root {
  --viewport-height: 100dvh;
}

.Toastify__toast-body > div {
  @apply !break-keep;
}
