/* stylelint-disable no-invalid-position-at-import-rule */

@import '@radix-ui/themes/styles.css';
@import 'react-toastify/dist/ReactToastify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 14px;
  }
  p {
    @apply break-keep whitespace-pre-line;
  }
}

.radix-themes {
  --default-font-family: inherit;
  --font-family-untitled: inherit;
}

.rt-TextFieldRoot,
.rt-TextAreaRoot {
  outline-width: 1px;
}

:root {
  --viewport-height: 100dvh;
}
